<mat-grid-list cols="3" [formGroup]="userDetailForm" rowHeight="100px">
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name here" required type="text" formControlName="name">
      <mat-error> Please Enter Name</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Name here" required type="text" formControlName="name">
      <mat-error> Please Enter Name</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Name here" required type="text" formControlName="name">
      <mat-error> Please Enter Name</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Mobile No</mat-label>
      <input matInput placeholder="Name here" required type="text" formControlName="name">
      <mat-error> Please Enter Name</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Role</mat-label>
      <input matInput placeholder="Name here" required type="text" formControlName="name">
      <mat-error> Please Enter Name</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button>Update</button>
  </mat-grid-tile>
</mat-grid-list>
