.container{
 display: flex;
 justify-content: center;
}
.login-box{
  margin-top: 10Vh;
  width: 30%;
  background-color: rebeccapurple;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  color: white;
}

button{
  margin-top: 10px;
}
