<div class="container">
  <div class="login-box">
    <h1>Creditt | Register here</h1>

    <form style="display: grid;" [formGroup]="formgroup" (submit)="registerUser()">

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name here" required formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')"> Please Enter Name</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput #input type="number" maxlength="10" class="example-right-align" required placeholder="Mobile No"
          formControlName="phone">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        <span class="mobileprefix" matPrefix>+91</span>
        <mat-error *ngIf="hasError('phone', 'required')"> Please Enter Mobile Number</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email id</mat-label>
        <input matInput placeholder="Email id" type="email" required formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')"> Please Enter Email</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" required formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')"> Please Enter Password</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit"> Register</button>
      <mat-divider></mat-divider>
      <button mat-raised-button color="accent" [routerLink]="['/login']"> Login</button>
    </form>

  </div>
</div>
